<div class="logo">
  <svg width="200" height="200">
    <defs>
      <mask id="mask_c1_v2">
        <rect width="50%" height="100%" fill="white"/>
        <circle r="80" cx="100" cy="100" fill="black"/>
      </mask>
      <mask id="mask_c2_v2">
        <rect x="50%" width="50%" height="100%" fill="white"/>
        <circle r="80" cx="100" cy="100" fill="black"/>
      </mask>
      <mask id="mask_o_v2">
        <rect width="100%" height="100%" fill="white"/>
        <circle r="60" cx="100" cy="100" fill="black"/>
      </mask>
    </defs>

    <circle id="c1_v2" r="100" cx="100" cy="100" mask="url(#mask_c1_v2)" fill="red" />
    <circle id="c2_v2" r="100" cx="100" cy="100" mask="url(#mask_c2_v2)" fill="yellow" />
    <circle id="o_v2" r="80" cx="100" cy="100" mask="url(#mask_o)" fill="green" />
    <rect id="r1_v2" x="55" y="55" width="90" height="20" fill="blue" />
    <rect id="r2_v2" x="90" y="55" width="20" height="105" fill="blue" />

  </svg>
</div>